Eva 2/Practica 4/matricula.dtd

<!ELEMENT matricula (personal,pago)>
    <!ELEMENT personal (dni,nombre,titulacion,cursoacademico,domicilios)>
        <!ELEMENT dni (#PCDATA)>
        <!ELEMENT titulacion (#PCDATA)>
        <!ELEMENT cursoacademico (#PCDATA)>
        <!ELEMENT domicilios (domicilio)>
            <!ELEMENT domicilio (nombre)>
                <!ATTLIST domicilio tipo CDATA #REQUIRED>
                <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT pago (tipomatricula)>
        <!ELEMENT tipomatricula (#PCDATA)>


